.m-search {
	@include breakpoint(phone_big) {
		white-space: nowrap;
	}
	@include breakpoint(tablet) {
		text-align: center;
	}
	.m-search_input {
		border:1px solid $cl-greyD6;
		height: 30px;
		line-height: 30px;
		border-radius: 3px;
		padding: 0 10px;
		color: $cl-grey2;
		width: 100%;
		display: block;
		margin-bottom: 10px;
		@include placeholder {
			color: $cl-grey9;
			font-size: 12px;
			opacity: 1;
		}
		@include breakpoint(phone_big) {
			width: 49%;
			display: inline-block;
			margin: 0;
		}
	}
	.m-search_buttons {
		display: flex;
		justify-content: space-between;
		@include breakpoint(phone) {
			display: inline-block;
		}
	}
	.m-search_selectWrapper {
		display: inline-block;
		background: $cl-greyEA;
		height: 30px;
		line-height: 18px;
		padding: 6px;
		border-radius: 3px;
		@include breakpoint(phone_big) {
			margin-left: 5px;
		}
		@include breakpoint(tablet) {
			margin-left: 10px;
		}
	} 
	.m-search_select {
		color: $cl-grey2;
		padding: 0 10px;
		border: 1px solid $cl-greyD6;
		border-radius: 3px;
		height: 18px;
		vertical-align: top;
		font-size: 12px;
	}
}