$cl-black: #000;
$cl-grey1: #111;
$cl-grey2: #222;
$cl-grey3: #333;
$cl-grey4: #444;
$cl-grey5: #555;
$cl-grey6: #666;
$cl-grey7: #777;
$cl-grey8: #888;
$cl-grey9: #999;
$cl-greyA: #aaa;
$cl-greyB: #bbb;
$cl-greyC: #ccc;
$cl-greyD: #ddd;
$cl-greyE: #eee;
$cl-white: #fff;

$cl-grey3B: #3b3b3b;
$cl-grey49: #494949;
$cl-grey60: #606060;
$cl-grey69: #696969;
$cl-grey71: #717171;
$cl-greyC4: #c4c4c4;
$cl-greyCC: #cccfd1;
$cl-greyDA: #dadada;
$cl-greyD6: #d6d6d6;
$cl-greyE0: #e0e0e0;
$cl-greyEA: #eaeaea;
$cl-greyEC: #ecedee;
$cl-greyE8: #e8e9ea;
$cl-greyF2: #f2f2f2;
$cl-greyF6: #f6f6f6;
$cl-greyF8: #f8f8f8;
$cl-greyFE: #fefefe;

$cl-blue1F: #1f76f0;
$cl-blue22: #2288b7;
$cl-blue4C: #4c95dc;
$cl-blue62: #62bfe9;
$cl-blue6B: #6ba1f3;

$cl-headline: $cl-blue22;
